@charset 'utf-8';
.grid-container {
	width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}
.grid-container thead th {
    line-height: 19px;
    padding: 8px;
    color: #444;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
    text-align: left;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3);
    -moz-user-select: none; 
    -webkit-user-select: none; 
   -ms-user-select: none; 
    user-select: none;
    white-space: nowrap;
    table-layout:fixed;
 }
.grid-container tbody tr {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.grid-container tbody tr:nth-child(even) {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3); 
}
.grid-container tbody tr:hover {
	background: #eee;
}

.grid-container tbody td {
    line-height: 19px;
    padding: 10px 8px;
    color: #666;
    word-break:break-all; 
    word-wrap:break-word;
}

.ggjc-ui-grid-header {
	height: 19px;
}
.ggjc-ui-grid-col {
	position: relative;
}
.ggjc-ui-grid-icon {
	display: none;
	position: absolute;
	top: 0%;
	right: 0;
	width: 36px;
	height: 36px;
	border-left: 1px solid #ccc;
	background: url(./images/arrow.png) no-repeat 50% 50%;
}
.ggjc-ui-drop-list {
	position: absolute;
	left: 36px;
	border: 1px solid #ccc;
	background: white;
	z-index: 10000;
}
.ggjc-ui-drop-list p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width: 100px;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
}
.ggjc-ui-drop-list p:hover {
	background: #e1e1e1;
}
.ggjc-ui-checked-icon {
	float: left;
	width: 28px;
	height: 28px;
}
.ggjc-ui-drop-list p .ggjc-ui-checked-icon {
	background: url(./images/no_check.png) 4px 50% no-repeat;
}
.ggjc-ui-drop-list .checked .ggjc-ui-checked-icon {
	background: url(./images/checked.png) 4px 50% no-repeat;
}
.ggjc-ui-arrow-icon {
	display: none;
	position: absolute;
	top: -20px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(./images/arrow_head.png) 50% 100% no-repeat;
}

.ggjc-ui-no-info {
	text-align: center;
}
.ggjc-ui-nav-list > span {
	display: block;
	width: 36px;
	height: 36px;
}
.ggjc-ui-nav-list {
	position: absolute;
	top: 36px;
	left: -1px;
	border: 1px solid #e1e1e1;
	background: white;
}
.ggjc-ui-sort-down {
	background: url(./images/sort-down.png) 50% 50% no-repeat;
}
.ggjc-ui-sort-up {
	background: url(./images/sort-up.png) 50% 50% no-repeat;
}
.ggjc-ui-checked-list {
	position: relative;
	width: 30px;
	height: 30px;
	background: url(./images/hide-list.png) 50% 50% no-repeat;
}
.ggjc-ui-sort-down-icon {
	background: url(./images/arrow-sort-down.png) 50% 50% no-repeat;
}
.ggjc-ui-sort-up-icon {
	background: url(./images/arrow-sort-up.png) 50% 50% no-repeat;
}